<!DOCTYPE html>
<html>
<head>
	<title>Movie App</title>

<%include head%>

</head>
<body>

<% include navbar %>

<div class="container">
	<div class="row">
	<div class="col-sm-12 text-center">
		<h1>Sign up below</h1>
	</div>
	<div class="col-sm-12 text-danger text-center">
		<h3><%= message%></h3>
	</div>
		<div class="col-sm-12 text-danger text-center">
			<form action="/signupProcess" method="post">
				<div class="col-sm-12">
					<input type="text" name="name" placeholder="Enter your name">
				</div>
				<div class="col-sm-12">
					<input type="email" name="email" placeholder="Enter your email">
				</div>
				<div class="col-sm-12">
					<input type="password" name="password" placeholder="Enter your password">
				</div>
				<div class="col-sm-12">
					<button class="btn btn-success" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>