body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px
}

a {
  color: #00B7FF;
}
img{
	max-width: 100%;
}

.movie-poster{
	padding-top: 5px;
	min-height: 410px;
}

.click-poster{
	/*text-align: center;*/
}

